// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.title {
    margin: 0;
    letter-spacing: -.03em;
    font-size: 5.4rem;
    line-height: 1;
    @include font-weight('extra');
    &_size {
        &-l {
            font-size: 7.8rem;
            line-height: .9;
        }
        &-s {
            font-size: 3.2rem;
            @include font-weight('bold');
        }
    }
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.group {
    @include flex(row, stretch, flex-start);
    &__col {
        @include flex(column, flex-start, flex-start);
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.icon {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }
    &-date::before {
        background: icon('s-icon-date.svg') no-repeat 50%;
    }
    &-a1::before {
        background: icon('s-icon-a1.png') no-repeat 50%;
        background-size: cover;
    }
    &-mts::before {
        background: icon('s-icon-mts.svg') no-repeat 50%;
    }
    &-viber::before {
        background: icon('s-icon-viber.svg') no-repeat 50%;
    }
    &-whatsapp::before {
        background: icon('s-icon-whatsapp.svg') no-repeat 50%;
    }
    &-telegram::before {
        background: icon('s-icon-telegram.svg') no-repeat 50%;
    }
    &-skype::before {
        background: icon('s-icon-skype.svg') no-repeat 50%;
    }
    &-instagram::before {
        background: icon('s-icon-instagram.svg') no-repeat 50%;
    }
    &-plus::before {
        background: icon('s-icon-plus.svg') no-repeat 50%;
    }
    &-minus::before {
        background: icon('s-icon-minus.svg') no-repeat 50%;
    }
}