.menu {
    &__wrapper {
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include flex(row, center, flex-start);
    }
    &__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
        &.has-children {
            & > .menu {
                &__link {
                    position: relative;
                    padding-right: 15px;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background: icon('arrow-down.svg') no-repeat 50% / 10px auto;
                        top: 50%;
                        margin-top: -4px;
                        right: 0;
                    }
                }
            }
        }
    }
    &__link {
        text-decoration: none;
        line-height: 1.56;
        color: $gray-color;
        cursor: pointer;
        &:hover {
            color: darken($gray-color, 20%);
        }
        &:active {
            color: $black-color;
        }
        &_active {
            pointer-events: none;
            color: $primary-color;
        }
    }
}

.sub-menu {
    pointer-events: none;
    opacity: 0;
    position: absolute;
}