.b-alerts {
    &__container {
        width: 280px;
        background: #F8F6FE;
        border-radius: 10px;
        padding: 20px;
    }
    &__item {
        &:not(.d-none):not(:last-child) {
            margin-bottom: 40px;
        }
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}